# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.venv/

# Logs & temp files
*.log
*.tmp
last-raw-image.png
last-dithered-image.png

# Editor config
.obsidian/

# Large reference PDFs (available on Waveshare website)
docs/*.pdf
